:root {
  --modal-animation-time: 1s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 350px;
  text-align: center;
  background: white;
  margin: 15% auto;
  border-radius: 10%;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation-name: open-modal;
  animation-duration: var(--modal-animation-time);
}

.modal-content h1 {
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.modal-content .close-button {
  font-size: 30px;
  float: right;
  color: #ccc;
}

.modal-content .close-button:hover {
  color: #000;
  cursor: pointer;
}

@keyframes open-modal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}